<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Hire_me | Navdeep Beniwal</title>

  </head>
  <body>

     <div class="container">
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-sm navbar-light bg-faded" id="top-navigation-bar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="#"><span class="color-red">NAVDEEP BENIWAL</span></a>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="nav-content">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'aboutme' %}">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'biography' %}">Biography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'hireme' %}">Hire me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contactme' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

         <!-- Hire me section -->
         <div class="container-fluid hire-me-sec">
            <div class="heading-sec"><span class="heading">Hire me</span></div>
            <p class="hire-me-paragraph-sec text-center">
            This is a simple paragraph that is meant to be nice and easy to type which is why there will be mommas no periods
            or any capital letters so i guess this means that it cannot really be considered a paragraph but just a series of run on
            sentences this should help you get faster at typing as im  trying not to use too many difficult words in it although i
            think that i might start making it hard.
            </p>
        </div>

         <!-- Skills section -->
         <div class="container-fluid skills">
            <div class="heading-sec"><span class="heading">Skills</span></div>
            <div class="card-deck-wrapper skills-sec">
                <div class="card-deck">

                    {% for skill in skills.all %}
                    <!-- Card 1 -->
                    <div class="card">
                        <img class="card-img-top" src="{{ skill.image.url }}" alt="Photo of sunset" height="150" width="300">
                        <div class="card-footer text-center"> {{ skill.title }} </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
